.navbar{
    margin-bottom: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0px;
    z-index: 99;
    /* background-color: #ee6622;
    color: #fff; */
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}

.collapseStyle{
    text-align: center;
}
